.popup__error {
    padding-top: 5px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
  }

.popup__error:valid {
    border-bottom: 1px solid green;
}

.popup__error:invalid {
    border-bottom: 1px solid red;
}