.popup__input {
    margin: 0;
    padding: 0;
    width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 9px;
    margin-top: 13px;
}

.popup__input:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1023px) {
    .popup__input {
        width: 238px;
        
    }
}