.profile {
    margin: 0 auto;
    max-width: 880px;
    min-height: 120px;
    width: calc(100% - 2*200px);
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1023px) {
    .profile {
        width: calc(100% - 2*100px);
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        width: calc(100% - 2*19px);
        margin-top: 42px;
        align-items: center;
    }
}