.header__logo {
    margin: 0;
    max-width: 142px;
    min-height: 33px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        max-width: 103px;
        min-height: 24px;
        margin-left: 27px;
    }
}