.element__image {
    margin: 0;
    padding: 0;
    width: 282px;
    height: 282px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

@media screen and (max-width: 1279px) {
    .element__image {
        width: 302px;
    }
}

@media screen and (max-width: 1023px) {
    .element__image {
        max-width: 273px;
    }
}

@media screen and (max-width: 767px) {
    .element__image {
        max-width: 282px;
    }
}