.footer {
    margin: 0 auto;
    margin-top: 76px;
    margin-bottom: 60px;
    max-width: 880px;
}

@media screen and (max-width: 1279px) {
    .footer {
        max-width: 624px;
    }
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: 568px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        max-width: 282px;
        margin-top: 50px;
    }
}