.profile__name {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: white;
    align-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 1279px) {
    .profile__name {
        font-size: 35px;
        max-width: 260px;
    }
}

@media screen and (max-width: 1023px) {
    .profile__name {
        font-size: 30px;
        max-width: 210px;
    }
}

@media screen and (max-width: 767px) {
    .profile__name {
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        align-self: center;
        margin-top: 25px;
        max-width: 199px;
    }
}