.profile__description {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 16px;
}

@media screen and (max-width: 767px) {
    .profile__description {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        max-width: 288px;
        text-align: center;
    }
}
