.popup__editHeader {
    margin: 0;
    padding: 0;
    margin-top: 34px;
    margin-left: 34px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

@media screen and (max-width: 1023px) {
    .popup__editHeader{
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        margin-left: 22px;
    }
}