.popup__input_type_job {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}