.profile__editButton {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../../../images/EditButton1280.svg);
    border:none;
    transition: opacity .82s linear;
    opacity: 1;
    cursor: pointer;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.profile__editButton:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__editButton {
        background-image: url(../../../images/Edit\ Button.png);
        height: 18px;
        width: 18px;
    }
}